*{margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Навигация */
nav {
    width: 67%;
    height: 70px;
    background-color: #00b4ff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;

}
.links a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    height: 100%;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;;
}
.links a:hover {
    background-color: #0076a8;
}
.logo {
    margin-left: 3%;
    transition: .5s;
    height: 65px;
}
.logo img {
    height: 100%;
}

/* Главная страница */
/* Первый блок главной страницы */
.main_box1 {
    width: 100%;
    height: 1300px;
    background-image: url(img/main_bg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Главная часть первого блока */
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
    height: 90%;
    width: 67%;
}
.tituls {
    width: 32%;
    height: 100%;
    background-color: rgba(255, 255, 255, 70%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 30px;
}
.titul {
    margin-left: 5%;
    color: black;
    font-weight: bold;
}
.gimn {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 45%);
}
.gimn h1 {
    text-align: center;
}
.gimn p {
    width: 90%;
    text-align: center;
    font-size: 18px;
}

/* Второй блок главной страницы */
.main_box2 {
    height: auto;
    width: 100%;
    background-image: url(img/main_bg2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}
.prep_sostav {
    width: 92%;
    height: 90%;
    background-color: rgba(0, 0, 0, 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}
.prep_sostav h2 {
    font-size: 50px;
    margin-bottom: 2%;
    color: white;
    text-align: center;
}
.director {
    width: 300px;
    height: 350px;
    padding: 2% 2%;
    background-color: rgba(255, 255, 255, 46%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.name-director {
    font-size: 20px;
    font-weight: bold;
}
.predmet-director {
    font-size: 18px;
}
.director .photo-director img {
    width: 120%;
}
.photo-director {
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teachers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.teacher {
    width: 250px;
    height: 300px;
    margin: 2% 5%;
    padding: 2% 2%;
    background-color: rgba(255, 255, 255, 46%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.teacher .photo img {
    width: 120%;
}
.photo {
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    font-size: 20px;
    font-weight: bold;
}
.predmet {
    font-size: 18px;
}

/* Страница с расписанием */
.timetable_box {
    background-image: url(img/timetable_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timetable_block {
    height: 90%;
    width: 1300px;
    background-color: rgba(0, 0, 0, 30%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5%;
}
.timetable_block h2 {
    font-size: 35px;
    color: white;
    margin-bottom: 2%;
    text-align: center;
}
table {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
td {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 15%;
    height: 100%;
}



/* Страница с деятельностью и событиями */
.activity_box {
    height: auto;
    padding: 7% 0;
    width: 100%;
    background-image: url(img/activity_bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.activity_block {
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5% 5%;
    border-radius: 20px;
}
.event {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 2% 0;
}
.event-photo {
    width: 45%;
    height: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}
.event-photo img {
    width: 1200px;
    cursor: pointer;
}
.fs {
    width: 100vw;
    height: 100vh;
    position: fixed;
    border-radius: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.event-description {
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 52%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
}
.event-description p {
    margin: 5% 5%;
    font-size: 25px;
}


/* Адаптив */
/* Главая страница */
@media (max-width:1651px) {
    .tituls {
        font-size: 20px;
    }
}
@media (max-width:1420px) {
    .links a {
        font-size: 18px;
    }
}
@media (max-width:1200px) {
    .gimn h1 {
        font-size: 25px;
    }
    .links {
        width: 60%;
    }
}
@media (max-width:920px) {
    .links {
        width: 70%;
    }
}
@media (max-width:820px) {
    nav {
        width: 100%;
    }
    .block {
        width: 100%;
    }
}
@media (max-width:506px) {
    .prep_sostav h2 {
        font-size: 30px;
    }
    .gimn h1 {
        font-size: 20px;
    }
    .links {
        width: 90%;
    }
    .tituls {
        font-size: 15px;
    }
}
@media (max-width:418px) {
    .links a {
        font-size: 12px;
    }
    .gimn p {
        font-size: 15px;
    }
    .gimn h1 {
        font-size: 17px;
    }
}
@media (max-width:340px) {
    .tituls {
        font-size: 13px;
    }
    .director {
        width: 250px;
        height: 320px;
    }
    .teacher {
        width: 200px;
    }
    .prep_sostav {
        width: 100%;
    }
}


/* Расписание */
@media (max-width:540px) {
    table {
        width: 100%;
        padding: 0 2%;
    }
    td {
        font-size: 12px;
    }
}
@media (max-width:423px) {
    td {
        font-size: 10px;
    }
}
@media (max-width:350px) {
    td {
        font-size: 8px;
    }
}


/* Активность */

@media (max-width:1372px) {
    .event-description p {
        font-size: 20px;
    }
}
@media (max-width:858px) {
    .event-description p {
        font-size: 15px;
    }
}
@media (max-width:540px) {
    .event {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .event-photo {
        width: 100%;

    }
    .event-description {
        width: 100%;
    }
}